name: "Husdata Exporter"
description: "Husdata prometheus exporter for Home Assistant"
version: "1.0.0"
slug: "husdata_exporter"
init: false
arch:
  - aarch64
  - amd64
  - armv7
ingress: true
webui: http://[HOST]:[PORT:9101]/metrics
ports:
  9101/tcp: 9101
ports_description:
  9101/tcp: "Direct access to the add-on without ingress. Must be enabled by toggling external_server"
options:
  husdata_hostname: null
  language: Swedish
  external_server: false
schema:
  husdata_hostname: str
  language: list(Swedish|English)
  external_server: bool
  poll_interval: int?
  log_level: list(Info|Debug|Warn|Error| | )?
